<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <style>
      .px-3 {
        padding-left: 4rem;
      }
      .fw-bolder {
        font-weight: bolder;
      }
      .text-2xl {
        font-size: 1.5rem;
        line-height: 2rem;
      }
    </style>
    <div class="px-3">
      <h1>Solinal. API REST</h1>
      <h4 class="fw-bolder text-2xl">Error 404</h4>
      <p>Esta ruta no existe.</p>
      <span>Revisa la documentación de la API.</span>
    </div>
  </body>
</html>
